/**********************************************
*** GENERAL
**********************************************/
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    --line: 1px solid var(--color-grey-light-2); }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}

.add__container {
    margin: 0 auto;
    text-align: center;
    /* display: flex; */
}

.add__income {
    width: 300px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 14px;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__name,
.add__average,
.add__frequency,
.add__distance {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__name { width: 15%;}
.add__average, .add__frequency, .add__distance { width: 12%;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__income:focus,
.add__name:focus,
.add__average:focus,
.add__frequency:focus,
.add__distance:focus {
    outline: none;
    border: 1px solid #9166E8;
}

.add__btn:focus { outline: none; }

@media only screen and (max-width: 60em) {
    .add__name { width: 10rem; margin-bottom: 1.5rem}
    .add__average {margin-bottom: 1.5rem}
    .add__average, .add__frequency, .add__distance { width: 20rem;}
}
/***** LISTS *****/
.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.item {
    padding: 1.3rem;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #ffffff; }

.item__description {
    font-size: 1.4rem;
}

.item__value {
    font-size: 1.4rem;
    transition: transform 0.3s;
    position: absolute;
    right: 10rem;
}


.item__delete--btn {
    color: #FF5049;
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

/* CSS INTERHACK */
.main-color {
    color: #9166E8;
}

.secondary-color {
    color: #eb2f64;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #444;
    font-weight: 400;
}

.navbar{
    height: 7rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .navbar{
        height: 100%;
        padding: 2rem 0; } }

.logo {
    height: 3.25rem;
    margin-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .logo {
        order: 1; } }
  
  .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .search {
        flex: 0 0 80%;
        margin: 2rem auto 0 auto;
        order: 3; } }
    .search__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem; }
      .search__input:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3); }
      .search__input::-webkit-input-placeholder {
        font-weight: 300;
        color: var(--color-grey-light-4); }
    .search__input:focus + .search__button {
      background-color: var(--color-grey-light-3); }
    .search__button {
      border: none;
      background-color: var(--color-grey-light-2); }
      .search__button:focus {
        outline: none; }
      .search__button:active {
        transform: translateY(2px); }
    .search__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3); }
  
  .user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .user-nav {
        order: 2; } }
    .user-nav > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
    .user-nav__icon-box {
      position: relative; }
    .user-nav__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-2); }
    .user-nav__notification {
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: #fff;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .user-nav__user-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem; }



.header {
    padding: 3rem 0;
    background-image: url(img/header.jpg);
    background-size: 100% 100%;
    z-index: 0;
    position: relative;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header__item {
    flex: 0 31rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .7rem;
}

.header__item:not(:last-child) {
    margin-right: 3rem;
}

.header__item--distance {
    flex: 0 0 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__item--income {
    margin-top: 0 !important;
}
 
@media screen and (max-width: 135rem) {
    .header__item {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 45rem) {
    .header__item {
        margin-right: 0 !important;
        margin: 1.5rem 0;
    }

    .header__item--income {
        margin-top: 1.5rem !important;
    }
}

.distance__title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.distance__value {
    text-align: center;
    font-size: 4rem;
    color: #333;
    margin-bottom: 2rem;
}


.distance__value span {
    font-size: 1.3rem;
}

.distance__time {
    font-size: 1.3rem;
    color: #666;
}

.distance__time--value {
    display: inline-block;
}






.risk__title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.risk__item {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-size: 1.4rem;
}

.risk__item span {
    color: #000;
    margin-right: .5rem;
    font-weight: 500;
}

.risk__item--percentage {
    color: #000;
    font-weight: 500;
}

.income__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.income__chart img {
    width: 15rem;
}


.add {
    padding: 2rem 0;
}

.add__title {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.container {
    max-width: 120rem;
    min-height: 200px;
    display: flex;
    justify-content: center;
    margin: 3rem auto 0 auto;
}

@media only screen and (max-width: 60rem) {
    .container {
        flex-direction: column;
    }

    .enrolled {
        margin-bottom: 5rem;
    }
}

.enrolled {
    flex: 1;
    padding: 0 3rem;
}

.evaded {
    flex: 1;
    padding: 0 3rem;
}

.item {
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #000;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    color: #f7f7f7;
    margin-top: 3rem;
}